<footer class="footer">
    <div class="container">
        <div class="row">
        <div class="col-md-3">
            <h4>Webgenesys S.p.A.</h4>
            <span>Copyright © 2024 Webgenesys S.p.A. All rights reserved</span>
            <ul class="social">
            <li><a href="https://www.linkedin.com/company/webgenesys/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
            <li><a href="https://twitter.com/webgenesys" target="_blank"><i class="fab fa-twitter"></i></a></li>
            <li><a href="https://www.facebook.com/webgenesys/" target="_blank"><i class="fab fa-facebook"></i></a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Contatti</h4>
            <ul>
            <li>Via del Poggio Laurentino 15,</li>
            <li>00144 Roma (RM)</li>
            <li>TEL +39 06 21128421</li>
            <li>FAX +39 06 56561699</li>
            <li>PEC webgenesys&#64;pec.it</li>
            </ul>
        </div>
        <div class="col-md-3">
            <h4>Link Utili</h4>
            <ul>
            <li><a href="https://www.webgenesys.it/privacy-policy/">Privacy Policy</a></li>
            <li><a href="https://www.webgenesys.it/cookie-policy/">Cookie Policy</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <img src="../../assets/images/wglogo3.webp" alt="Webgenesys Logo" class="img-fluid">
        </div>
        </div>
    </div>
</footer>
