<!-- Visualizzazione mensile -->
<div *ngIf="viewMode === 'monthly'">
  <div>
    <!-- Il pulsante è visibile solo nella vista giornaliera, quindi rimuoviamo questa condizione -->
    <button (click)="backToMonthly()" *ngIf="viewMode === 'monthly'">Torna ai dati mensili</button>
  </div>
  <div>
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [type]="barChartType">
    </canvas>
  </div>
</div>

<!-- Visualizzazione giornaliera -->
<div *ngIf="viewMode === 'daily'">
  <div>
    <!-- Il pulsante è visibile solo nella vista giornaliera -->
    <button (click)="backToMonthly()">Torna ai dati mensili</button>
  </div>
  <div>
    <canvas baseChart
      [datasets]="barChartData"
      [labels]="barChartLabels"
      [options]="barChartOptions"
      [legend]="barChartLegend"
      [type]="barChartType">
    </canvas>
  </div>
</div>
