<!-- Visualizzazione mensile -->
<div *ngIf="viewMode === 'monthly'">
  <div>
    <button (click)="backToMonthly()" *ngIf="viewMode === 'monthly'">Torna ai dati mensili</button>
  </div>
  <div>
    <echarts [options]="barChartData" style="height: 400px;"></echarts>
  </div>
</div>

<!-- Visualizzazione giornaliera -->
<div *ngIf="viewMode === 'daily'">
  <div>
    <button (click)="backToMonthly()">Torna ai dati mensili</button>
  </div>
  <div>
    <echarts [options]="barChartData" style="height: 400px;"></echarts>
  </div>
</div>
