<nav class="sidenav">
  <div class="logo-container">
    <img src="../../assets/images/wglogo3.webp" alt="Logo" class="logo">
  </div>
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" routerLink="/rubrica" routerLinkActive="active">Rubrica</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/chiamate" routerLinkActive="active">Chiamate</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/statistica" routerLinkActive="active">Statistica</a>
    </li>
  </ul>
</nav>
