.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f1f1f1; /* Colore di sfondo dell'intestazione */
}

.close-button {
  border: none;
  background: none;
  font-size: 20px;
  cursor: pointer;
}

.dialog-content {
  height: 400px; /* Puoi modificare questo valore a seconda delle tue esigenze */
}
